<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">


	<select id="cartList" parameterType="MemberDTO" resultType="CartDTO">
		SELECT p.product_name, p.product_price, p.product_quantity, p.product_id, i.product_img, c.user_id, c.cart_id, c.cart_quantity
		FROM t_product p JOIN t_cart c
			ON p.product_id = c.product_id
				JOIN t_product_img i
					ON p.product_id = i.product_id
		WHERE c.user_id = '${user_id}'
		ORDER BY c.cart_id ASC
	</select>
	
	<delete id="delCart" parameterType="MemberDTO">
		DELETE
		FROM t_cart
		WHERE user_id = #{user_id}
	</delete>
	
	<insert id="orderInsert" parameterType="MemberDTO">

		INSERT INTO t_order (order_id, user_id, order_date, total_price, post, address1, address2, address_detail)
		VALUES(order_seq.nextval, #{user_id}, sysdate, #{total_price}, #{post}, #{address1}, #{address2}, #{address_detail})

		<selectKey keyProperty="order_id" resultType="int" order="AFTER">
			SELECT order_seq.CURRVAL AS id FROM DUAL
		</selectKey>

	</insert>


	<insert id="orderDetailInsert" parameterType="OrderDTO">
		INSERT INTO t_order_detail
		VALUES( order_detail_seq.nextval, #{order_id},#{product_id},#{order_quantity})
	</insert>


</mapper>