<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WishMapper">

	<insert id="wishAdd" parameterType="WishDTO">
		insert into T_WISH (user_id, product_id, wish_date)
		VALUES (#{user_id}, #{product_id}, NOW())
	</insert>
	
	
	<select id="wishList" parameterType="MemberDTO" resultType="WishDTO">
		SELECT p.product_name, p.product_price, p.product_quantity, p.product_id, i.product_img, w.user_id, w.wish_id
		FROM T_PRODUCT p join T_WISH w
			on p.product_id = w.product_id
				join T_PRODUCT_IMG i
					on p.product_id = i.product_id
		WHERE w.user_id = '${user_id}'
		ORDER BY w.wish_id ASC
	</select>
	
	<delete id="wishDelete" parameterType="arraylist">
		DELETE
		FROM T_WISH
		WHERE wish_id IN

		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>


	<select id="wishCheck" parameterType="WishDTO" resultType="WishDTO">
		select product_id
		from T_WISH
		where product_id ='${product_id}' AND 
      	user_id ='${user_id}' 
	</select>
	
	
	<delete id="wishUserDelete" parameterType="WishDTO">
		DELETE
		FROM T_WISH
		WHERE user_id= '${user_id}' and product_id = '${product_id}'
	</delete>
</mapper>